.clients-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  background-color: greenyellow;
}

.clients-list-container > button {
  align-self: center;
  background-color: green;
  color: white;
  font-weight: 700;
  height: 30px;
  margin-top: 50px;
  width: 100px;
}
