.App {
  background-color: rgb(255, 66, 66);
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 6px 6px rgb(40, 40, 40);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:  20px 0;
  width: 700px;
}

header {
  display: flex;
  justify-content: center;
}

.logo {
  align-self: center;
  mix-blend-mode: multiply;
}

.poke-container{
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  height: 150px;
  margin: 10px;
  opacity: 0.9;
}

.poke-container:hover{
  box-shadow: 4px 4px rgb(150, 30, 30);
  opacity: 1;
}

.poke-description {
  align-self: center;
  text-align: center;
  width: auto;
}

.poke-img {
  align-self: center;
}
